extends layout.pug

block append head_scripts
  script(type="text/javascript" src="vendor/socket.io/socket.io.js")

block content
  h1= title
  div.container#board
  script(type="text/javascript" src="client/client.js")
