doctype html
html(lang="fr")
  head
    title= pageTitle
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href='css/bootstrap.min.css')
    link(rel="stylesheet", href='css/style.css')
  body
    div#mainContainer
      block header
        include header

      block content

      block footer
        include footer

script(src="jquery.min.js", type="text/javascript")
script(src="js/tether.min.js", type="text/javascript")
script(src="js/bootstrap.min.js", type="text/javascript")
script(src="vue.js", type="text/javascript")
script(src="client.js", type="text/javascript")

block js