/**
 * https://stackoverflow.com/a/16805743
 */
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bingo-tile {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: .2rem;
  min-height: 8rem;
  min-width: 10rem;
}

.bingo-tile-content {
  vertical-align: middle;
  text-align: center;
}

.ticked {
  background-color: #c4ffb2;
  border:1px solid #6cc850;
}
