.bingo-tile {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: .2rem;
  min-height: 8rem;
  min-width: 10rem;
}

.bingo-tile-content {
  vertical-align: middle;
  text-align: center;
}

.ticked {
  background-color: #c4ffb2;
}
